.scroll-container {
    width: 4px;
    height: 50px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.scroll-bar {
    width: 100%;
    height: 20px;
    background-color: #4267B2;
    position: absolute;
    top: 0;
    animation: scrollBounce 2s ease-in-out infinite;
}

@keyframes scrollBounce {
    0% {
        top: 0;
    }
    50% {
        top: calc(100% - 20px);
    }
    100% {
        top: 0;
    }
}

/* PARA QUE CAMBIEN DE COLOR */
.header-white {
    background-color: #fff !important;
}

.header-white a{
    color: #2f528f !important;
}

.header-white a:hover{
    color: #000 !important;
}

.header-white img {
    filter: invert(38%) sepia(79%) saturate(513%) hue-rotate(187deg) brightness(90%) contrast(85%) !important;
}

/* Aseguramos que solo el enlace de 'CONTACTAR' se ponga blanco al hacer scroll */
.header-white #contactar:first-child,
.header-white #contactar:first-child i {
    color: white !important;
}


.header-white #image {
    filter: invert(38%) sepia(79%) saturate(513%) hue-rotate(187deg) brightness(90%) contrast(85%) !important;
}
