#container__section {
    background: url(src/picture/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.scroll-container {
    width: 4px;
    height: 50px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.scroll-bar {
    width: 100%;
    height: 20px;
    background-color: #4267B2;
    position: absolute;
    top: 0;
    animation: scrollBounce 2s ease-in-out infinite;
}

@keyframes scrollBounce {
    0% {
        top: 0;
    }
    50% {
        top: calc(100% - 20px);
    }
    100% {
        top: 0;
    }
}

/* PARA QUE CAMBIEN DE COLOR */
.header-white {
    background-color: #fff !important;
}

.header-white a{
    color: #2f528f !important;
}

.header-white a:hover{
    color: #000 !important;
}

.header-white img {
    filter: invert(38%) sepia(79%) saturate(513%) hue-rotate(187deg) brightness(90%) contrast(85%) !important;
}

/* Aseguramos que solo el enlace de 'CONTACTAR' se ponga blanco al hacer scroll */
.header-white #contactar:first-child,
.header-white #contactar:first-child i {
    color: white !important;
}


.header-white #image {
    filter: invert(38%) sepia(79%) saturate(513%) hue-rotate(187deg) brightness(90%) contrast(85%) !important;
}

/* EFECTO BORDER RADIUS BOTONES*/
#items__buttons button {
    border-radius: 30px;
    transition: 1s ease;
}

#items__buttons button:hover {
    border-radius: 0;
}

/*SECTION PALMA*/
#section__palma {
    background: url(src/picture/97b3680aa626a572d1e4d555672d4509.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
}

